@charset "utf-8";

.wrapper {
    width: 400px;
    margin: 30px auto;
}
.errors {
    color: red;
    background-color: #f1d5ef;
    list-style: none;
    margin: 20px 0;
    padding: 10px 20px;
}
.required {
    color: red;
    font-size: 10px;
}
.form-group {
    padding: 10px;
    width: 100%;
    margin: 10px;
}
label {
    display: block;
    font-size: 20px;
}
input {
    border: 1px solid black;
    width: 90%;
    border-radius: 3px;
    height: 30px;
}
input[type = "number"] {
    text-align: right;
}
input[type = "submit"] {
    background-color: #4394ed;
    width: 90%;
    border-radius: 3px;
    margin: 20px;
}
input[type="submit"]:hover {
    background-color: pink;
}
.result_title {
    width: 100%;
    font-size: 250%;
    height: 80px;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
}
a {
    display: block;
    background-color: #4394ed;
    border-radius: 3px;
    height: 10%;
    padding: 1px 100px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
a:hover{
    background-color: pink;
}
